{% extends "sidebarNoticias.html"%}

{% block title %}Bienvenido{% endblock %}

{% block content %}

<div style="height: 100%; width: 100%; display: flex; flex-direction: column; font-family: 'montserrat';">
    <div style="margin: auto;">
        <h1 style="text-align: center;">Bienvenido a la Gestión del Cotenido de la Página Web</h1>
        <h4 style="text-align: center;">Cooperativa de Ahorro y Crédito</h4>
        <h2 style="text-align: center;"><em>Monseñor Leonidas Proaño</em></h2>
    </div>
</div>

{% endblock %}