{% extends "sidebar.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/aplicarExamen.css' %}">


{% if examen %}
<div class="examen-container">
    <div class="examen-navbar">
        <div class="tituloDelExamen">
            <h2 class="examen-titulo">{{ examen.titulo }}</h2>
        </div>
        <div class="examen-cuerpo">
            <form method="post" action="{% url 'evaluarExamen' capitulo.id %}">
                {% csrf_token %}
                {% for pregunta in preguntas %}
                    <div class="pregunta">
                        <p><strong>{{ forloop.counter }}. {{ pregunta.texto }}</strong></p>

                        {% for respuesta in pregunta.respuestas.all %}
                            <label>
                                <input type="radio" name="pregunta_{{ pregunta.id }}" value="{{ respuesta.id }}" required>
                                {{ respuesta.texto }}
                            </label><br>
                        {% endfor %}
                    </div>
                    
                {% endfor %}
                <div class="contenedorbotonEnviarExamen">
                    <button class="botonEnviarExamen" type="submit"><span class="material-symbols-outlined">send</span> Enviar respuestas</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endif %}


{% endblock %}