.fade {
  opacity: 0;
  animation: fade 1s ease-out forwards;


}

@keyframes fade {
  to {
    opacity: 1;

  }
}



.fade2 {
  opacity: 0;
  animation: fade 2s ease-out forwards;


}




.aparecerBorde{
  text-shadow:
    -4px -4px 0 transparent,
    4px -4px 0 transparent,
    -4px  4px 0 transparent,
    4px  4px 0 transparent;
  animation: fadeBorder 6s ease-out forwards;

}


@keyframes fadeBorder{
  to{
    text-shadow:
    -4px -4px 0 #023196,
    4px -4px 0 #023196,
    -4px  4px 0 #023196,
    4px  4px 0 #023196;
  }
}