
:root {
    --bg-color: #FFF8C6;
    --sidebar-color: #CA6AB4;
    --main-color: #000;
    --text-color: #000;
}

.django-ckeditor-widget {
    margin-bottom: 1.5rem !important;
    width: 100%;
    height: auto;
    border: 3px solid var(--sidebar-color);
    box-shadow: 0 0 20px 0 var(--sidebar-color);


}

.cke_editor_cuerpo, 
.cke_contents,      
.ck-editor__editable {
    width: 100% !important;
    box-sizing: border-box;


}


.cke_chrome {
    border-radius: 4px !important;
    border: 1px solid #ddd !important;
    box-shadow: none !important;


}

.cke_top {
    background: var(--sidebar-color) !important;
    border-bottom: 1px solid var(--bg-color) !important;


}

.cke_contents {
    height: 250px !important; 
}

.formContentElemento{
    width: 100%;
    height: auto;
    
}

.classButonn{
    font-family: 'Montserrat';
    font-size: 1rem;
}