.tiempo{
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 60px;
}



.boxProgress {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 0%;
    z-index: 10000 !important ;
}
